@{
    ViewData["Title"] = "_Layout";
}
<nav class="navbar bg-body-tertiary">
        <div class="container">
          <a class="navbar-brand" href="#">
            <img src="Imagenes/logopreguntados.jfif" alt="Bootstrap">
          </a>
        </div>
    </nav>
