@{
    ViewData["Title"] = "ConfigurarJuego";
}
<select class="form-select" size="3" aria-label="Size 3 select example">
  <option selected>Categorias</option>
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="-1">-1</option>
</select>