@{
    ViewData["Title"] = "Juego";
}
 <div class="card" style="width: 18rem;">
        <div class="card-header">
          @ViewBag.Jugar.PreguntaAResponder
        </div>
        <ul class="list-group list-group-flush">
        <li><a class="btn btn-primary btn-lg" href="Respuesta.html" role="button">@ViewBag.Respuesta</a></li>
        <li><a class="btn btn-primary btn-lg" href="Respuesta.html" role="button">@ViewBag.Respuesta</a></li>
        <li><a class="btn btn-primary btn-lg" href="Respuesta.html" role="button">@ViewBag.Respuesta</a></li>
        </ul>
      </div>